body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

div {
  border: 3px solid black;
  padding: 20px;
  font-size: large;
}

td {
  text-align: center;
}

ul {
  margin: 0px;
}
.introduce {
  border-bottom: 0px;
}

.recommendMovie {
  border-bottom: 0px;
}
